.hero-box{
    height: 450px;
    width:100%;
    background: linear-gradient(135deg,#007bff 0%, #00a2ff 100%);
    /* border-radius:14px; */
    color:white;
    padding:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.hero-left h1{
    font-size:48px;
    font-weight:700;
}
.hero-left p{
    font-size:18px;
    margin-top:15px;
}
.hero-btn{
    margin-top:25px;
}
.hero-btn a{
    background:white;
    padding:10px 25px;
    border-radius:6px;
    color:#007bff;
    font-weight:bold;
    margin-right:15px;
    text-decoration:none;
}
.hero-btn a:last-child{
    background:transparent;
    border:2px solid white;
    color:white;
}
.hero-img{
    width:480px;
    border-radius: 20px;
}

.info-section{
    width:100%;
    margin-top:70px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
}

.info-section .info-img{
    width:48%;
    border-radius:12px;
}

.info-content{
    width:50%;
}

.info-content h2{
    font-size:40px;
    font-weight:700;
    margin-bottom:20px;
    color:#007bff;
}

.info-content p{
    font-size:18px;
    line-height:30px;
    color:#444;
}

.info-content ul{
    margin-top:15px;
    font-size:17px;
    line-height:28px;
}

.cards-section{
    margin-top:80px;
    text-align:center;
}

.cards-section h2{
    font-size:38px;
    font-weight:700;
    color:#007bff;
    margin-bottom:40px;
}

.card-row{
    display:flex;
    justify-content:space-between;
    gap:25px;
}

.crm-card{
    width:33%;
    padding:35px;
    border-radius:12px;
    background:white;
    box-shadow:0px 0px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.crm-card:hover{
    transform:translateY(-8px);
    box-shadow:0px 10px 20px rgba(0,0,0,0.20);
}

.crm-card img{
    width:90px;
    margin-bottom:20px;
}

.crm-card h3{
    font-size:24px;
    font-weight:700;
    margin-bottom:15px;
}

.crm-card p{
    font-size:16px;
    line-height:26px;
    color:#555;
}
